body {
    font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    background-color: midnightblue;
}

.wrapper{
    padding: 1rem;
    background-color: white;
    width: 400px;
    margin: auto;
    height: 600px;
}

dl {
    padding: 0 5px 0 5px;
}
h1 {
    padding: 1px;
    color: black;
    text-align: center;
}

header{
    background-color: lightslategrey;
    text-align: center;
    padding: 1rem;
}

img{
    max-width: 100%; 
    margin: auto; 
}